{% extends 'Home/base.html' %}
{% load static %}
{% block 1 %}

<!-- section -->
<div class="section tabbar_menu">
   <div class="container">
      <div class="row">
          <div class="col-md-12">
             <div class="tab_menu">
                <ul>
                   <li><a href="#"><span class="icon"><img src="{% static 'Home/images/i1.png' %}" alt="#" /></span><span>University</span></a></li>
                   <li><a href="#"><span class="icon"><img src="{% static 'Home/images/i2.png' %}" alt="#" /></span><span>Graduation</span></a></li>
                   <li><a href="#"><span class="icon"><img src="{% static 'Home/images/i3.png' %}" alt="#" /></span><span>Sports</span></a></li>
                   <li><a href="#"><span class="icon"><img src="{% static 'Home/images/i4.png' %}" alt="#" /></span><span>Social</span></a></li>
                   <li><h1 style="color: white;">We teach everything</h1></li>
                   <li><a href="#"><span class="icon"><img src="{% static 'Home/images/i7.png' %}" alt="#" /></span><span>Call us</span></a></li>
                </ul>
             </div>
          </div>
      </div>
   </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>Welcome To</span> Education</h2>
                    </div>
                    <div class="full">
                      <p>Hey welcome to the 'Lite' Coursera where everything is free!
                      To learn more about this project, please go through the below link.</p>
                    </div>
                    <div class="full">
                       <a class="hvr-radial-out button-theme" href="{% url 'about' %}">About more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="{% static 'Home/images/img2.png' %}" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section
<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                       <h2><span>Popular </span>Courses</h2>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                   <img class="img-responsive" src="{% static 'Home/images/p1.png' %}" alt="#" />
                   <h4>Financial Accounting</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="{% static 'Home/images/p2.png' %}" alt="#" />
                    <h4>Managerial Accounting</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="{% static 'Home/images/p3.png' %}" alt="#" />
                    <h4>Intermediate Accounting</h4>
                </div>
            </div>
        </div>
    </div>
</div>
 end section -->
<!-- section -->
<div class="section margin-top_50 silver_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full float-right_img">
                    <img src="{% static 'Home/images/img6.png' %}" alt="#" />
                </div>
            </div>
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>Apply for Admission</h2>
                    </div>
                    <div class="full">
                      <p>To start using this app, You need to register yourself as either a Creator if your intention is to provide free courses,
                      or a learner if you want free access to unlimited knowledge. Then register yourself under any course which you like.
                      You can even search courses by their tags available.</p>
                    </div>
                    <div class="full">
                        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i><u> Register Below !</u></i></h3>
                       <button class="hvr-radial-out button-theme">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding padding_bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>Reaserch Our Courses !</span></h2>
                    </div>
                    <div class="full">
                      <p>To research the topics/fields on which courses on our platform are created, you can search for them by their tags.</p>
                    </div>
                    <div class="full">
                       <a class="hvr-radial-out button-theme" href="{% url 'search' %}">Search via Tags!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img class="img-responsive" src="{% static 'Home/images/img7.png' %}" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

{% endblock 1 %}