{% extends 'Home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 1 %}
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_center">
                       <h2 style="margin-left: 8cm;"><span>Choose your</span> PATH !</h2>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
<div class="section contact_section" style="background:#12385b;">
    <div class="container">
        <div class="row">
            <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
            <div class="contact_form">
                <div class="full field">
                    <div class="center" style="margin-left: 6cm;">
                        <a href = "{% url 'creator-register' %}"><button>Creator</button></a>
                    </div>
                    <br>
                    <div class="center" style="margin-left: 6cm;">
                        <a href = "{% url 'learner-register' %}"><button>Learner</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>			  
</div>                  

{% endblock 1%}